/* paleta de cores selecionadas: 212738 F97068 D1D646 EDF2EF 57C4E5 */
#bgPagina {
    background-color: #212738;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 100px;
}

.navbar {
    background-color: #EDF2EF;

}

.table {
    background-color: #D1D646;
    padding: 40px 20px 20px 50px;
    margin-top: 40px ;
}

#bgContato {
    background-color: #57C4E5;
    padding: 10px 20px 5px;
}

#imgHome {
    max-width: 100%;
}

.input-group-prepend {
    margin-left: 1px;
}

.form-check {
    text-align: left;
}

.form-group {
    text-align: left;
}

.hide{
    display: none;
}

.card {
    margin: 10px 20px 10px;
    padding: 1px 1px;
}

.container img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:700px;
    max-height:300px;
    width: auto;
    height: auto;
}